<?xml version="1.0" encoding="gbk"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>web</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <!--<servlet>
  <servlet-name>InitServlet</servlet-name>
    <servlet-class>com.wind.openmeetings.servlet.InitServlet</servlet-class>
    <load-on-startup>0</load-on-startup>
  </servlet>-->
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.wind.openmeetings.servlet.LoginServlet</servlet-class>
    <init-param>
        <param-name>userConfig</param-name>
        <!--配置用户名和密码-->
        <param-value>/home/liufeng/jetty/WebContent/config/users.xml</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SchedualServlet</servlet-name>
    <servlet-class>com.wind.openmeetings.servlet.SchedualServlet</servlet-class>
    <init-param>
        <param-name>speedLimit</param-name>
        <!--配置限制速度-->
        <param-value>1048576</param-value>
    </init-param>
    <init-param>
        <param-name>threadNumber</param-name>
        <!--配置线程池的线程数-->
        <param-value>1</param-value>
    </init-param>
    <init-param>
        <param-name>userConfig</param-name>
        <!--配置用户名和密码-->
        <param-value>/home/liufeng/jetty/WebContent/config/users.xml</param-value>
    </init-param>
    <init-param>
        <param-name>dbSource</param-name>
	<!--配置数据库地址-->
        <param-value>10.100.6.53</param-value>
    </init-param>
    <init-param>
        <param-name>userID</param-name>
	<!--配置数据库用户名-->
        <param-value>hadoop</param-value>
    </init-param>
    <init-param>
        <param-name>passwordService</param-name>
	<!--配置密码服务地址-->
        <param-value>D:\密码服务\Release\DBPWDServiceTest.exe</param-value>
    </init-param>
    <init-param>
        <param-name>uploadPath</param-name>
	<!--配置本地上传路径-->
        <param-value>/home/liufeng/windcollege/upload</param-value>
    </init-param>
    <init-param>
        <param-name>copyPath</param-name>
	<!--配置本地拷贝路径-->
        <param-value>/home/liufeng/copy</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>SchedualServlet</servlet-name>
    <url-pattern>/SchedualServlet</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>3600</session-timeout>
  </session-config>
  <error-page>
    <error-code>404</error-code>
    <location>/error_message.jsp</location>
  </error-page>
  <error-page>
    <exception-type>java.lang.Exception</exception-type>
    <location>/error_message.jsp</location>
  </error-page>
</web-app>
